input#chat {
    width: 456px;
    border: 1px solid #AACAAC;
}

#container {
    width: 450px;
}

#history {
    height: 180px;
    border: 1px solid #AACAAC;
    padding: 5px;
    font-family: Courier, monospace;
    font-size: .9em;
    overflow-y: scroll;
    width: 100%;
}

#history p {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.search{
    text-align: center;
}